.section {
  border: var(--border);
  margin: var(--large);
  padding: var(--large);
  background-color: var(--background-color);
}

.quote {
  font-weight: var(--normal-font);
  margin-bottom: var(--large);
  color: var(--primary-color);
}

.author {
  font-weight: var(--bold-font);
  text-align: right;
  margin-bottom: var(--large);
  color: var(--primary-color);
}

.buttons {
  padding-top: var(--large);
}

.button {
  font-weight: var(--thin-font);
  margin: var(--small);
  padding: var(--xsmall);
  color: var(--secondery-color);
}
