.section {
  border: var(--border);
  margin: var(--xxLarge);
  padding: var(--xxLarge);
  background-color: var(--background-color);
}

.quote {
  font-weight: var(--normal-font);
  margin-bottom: var(--xxLarge);
  color: var(--primary-color);
}

.author {
  font-weight: var(--bold-font);
  text-align: right;
  margin-bottom: var(--xxLarge);
  color: var(--primary-color);
}

.buttons {
  padding-top: var(--xxLarge);
}

.wisdom-button {
  font-weight: var(--thin-font);
  margin: var(--small);
  padding: var(--xSmall);
  color: var(--secondery-color);
}

.famous-qoutes-button {
  font-weight: var(--thin-font);
  padding: var(--xSmall);
  color: var(--secondery-color);
}
